<p id="notice" style="color: green"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%=@friend.name %></h1>
  <p class="lead">ID NO : <%=@friend.idNo %> | 
    <%=@friend.email%> | 
    <%=@friend.phone%>
  </p>
  <hr class="my-4">
  <p>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-primary"%>
  <%= link_to "Back", friends_path, class:"btn btn-secondary" %>
  <%= button_to "Destroy", @friend, method: :delete, class:"btn btn-danger" %>
</p>
</div>



